[submodule "telegram-bot/source-code"]
	path = telegram-bot/source-code
	url = https://github.com/Electronic-Mango/rss-reader-telegram-bot.git
	branch = main
[submodule "rss-bridge-reddit-filter"]
	path = rss-bridge-reddit-filter
	url = git@github.com:Electronic-Mango/rss-bridge-reddit-filter.git
[submodule "rss-bridge-ytdlp-wrapper"]
	path = rss-bridge-ytdlp-wrapper
	url = git@github.com:Electronic-Mango/rss-bridge-ytdlp-wrapper.git
